$Color1: white;
$Color2: grey;
$Color3: rgba(127, 232, 255, 0.83);



body{
    background-color: $Color2;
}

.Main-heading{
    text-align: center;
    text-decoration: underline;
}

.clickablesDIV{
text-align: center;
margin-left: 10%;
margin-right: 10%;
background-image: url("./Container-Images/istockphoto-859591554-612x612-notext.jpg");
background-size: 20%;
border-radius: 2rem;
min-height: 15rem;
}

.clickables{
    color: $Color2;
    border-radius: 50%;
    transition: transform .2s;
}

.clickables:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.clickIMG{
    
    max-height: 4rem;
    max-width: auto;
    border-radius: 50%;

}


.scoreHeading{
    text-align: center;
}


.ScoreDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $Color3;
}